{% extends 'base.html.twig' %}

{# Page settings #}
{% set author_fullname = author.firstname ~ " " ~ author.lastname %}
{% set page_title = "author: " ~ author_fullname  %}


{# Page Title #}
{% block title %}{{ page_title }} - {{ parent() }}{% endblock %}


{# Page Body #}
{% block body %}
<header class="page-header">
    <h2 class="page-title">{{ page_title }}</h2>
</header>

<main class="page-content">
    <div><strong>Firstname : </strong> {{ author.firstname }}</div>
    <div><strong>Lastname : </strong> {{ author.lastname }}</div>
</main>

<footer class="page-footer">
    <a href="{{ url('author:index') }}" class="btn btn-primary btn-sm">Back to authors list</a>
    <a href="{{ url('author:update', {id: author.id}) }}" class="btn btn-warning btn-sm">Edit this author</a>
</footer>
{% endblock %}
